<!DOCTYPE html>
<!--
{% macro pagination(url, page) %}
    <nav aria-label="pagination">
        <ul class="pagination">
        {% if page.has_previous %}
            <li class="page-item">
                <a class="page-link" href="{{ url }}{{ page.page_index - 1 }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
        {% endif %}
            <li class="page-item disabled"><a class="page-link" href="#"><span>{{ page.page_index }}</span></a></li>
        {% if page.has_next %}
            <li class="page-item">
                <a class="page-link" href="{{ url }}{{ page.page_index + 1 }}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
            </li>
        {% endif %}
        </ul>
    </nav>
{% endmacro %}
-->
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Python, Javascript, react.js, HTML, CSS, web development">
    <meta name="author" content="loaf.fun">
    {% block meta %}
    <meta name="description" content="Python, Javascript, react.js, HTML, CSS, web development">
    {% endblock %}

    <title>loaf.fun-{% block title %} {% endblock %}</title>

    <!-- jquery放在 block beforehead前加载，否则beforehead中代码不可用，应把script代码全移入js文件-->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/sha1.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- blog.css is closer to elements than bootstrap.min.css, so it will override bootstrap.min.css style-->
    <link href="/static/css/blog.css" rel="stylesheet">
    <!-- prism - prism.css -->
    <link href="/static/css/prism.css" rel="stylesheet" />

    {% block beforehead %}<!-- before head  -->{% endblock %}
</head>
<body>
    <header class="container">
        <nav class="blog-header navbar navbar-expand-md px-0 pb-1">
            <a class="blog-header-logo navbar-brand" href="/">loaf.fun</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="/"><i class="fas fa-home"></i>&nbsp;首页</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/about"><i class="fas fa-dna"></i>&nbsp;关于</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto ">
                    {% if __user__ %}  <!-- __user__ is for jinja2 supported by backend -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                                <i class="fas fa-user-astronaut"></i>
                                 {{ __user__.name }}
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/signout"><i class="fas fa-sign-out-alt"></i>&nbsp;登出</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/signin"><i class="fas fa-sign-in-alt"></i>&nbsp;登录</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register"><i class="fas fa-user-plus"></i>&nbsp;注册</a>
                        </li>
                    {% endif %} 
                </ul>      
            </div>
        </nav>
    </header>

    <main role="main" class="container">
        <!-- content -->
        {% block content %}
        {% endblock %}
        <!-- // content -->
    </main>

    <footer class="container">
        <p>
            <a href="https://github.com/MaYX123" target="_blank">GitHub</a>
            <span>|</span>
            <a href="https://segmentfault.com/u/mayx123" target="_blank">SegmentFault</a>
            <span>|</span>
            <a href="/">loaf.fun</a>
            <span>|</span>
            <a href="/manage/" target="_blank">[Manage]</a>
        </p>
        <p>Copyright © 2017-2018 loaf.fun | 当前版本 2.0.0 | <a target="_blank" href="http://www.miitbeian.gov.cn/" title="工业和信息化部ICP/IP地址/域名信息备案管理系统">苏ICP备18006268号</a></p>
        <p>Powered by <a target="_blank" href="https://getbootstrap.com/" title="Bootstrap">Bootstrap</a><span>&nbsp;&amp;&nbsp;</span><a target="_blank" href="https://www.python.org/" title="Python">Python</a><span></p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/holder.min.js"></script>
    <script defer src="/static/fonts/fontawesome-all.min.js"></script>
    <script src="/static/js/blog.js"></script>
    <!-- prism - prism.js -->
    <script src="/static/js/prism.js"></script>
</body>
</html>
