{% extends '__base__.html' %}

{% block meta %}
<meta name="description" content=" {{ blog.name }} ">
{% endblock %}

{% block title %}{{ blog.name }}{% endblock %}

{% block beforehead %}

<script>

$(function() {
    var $blog = $('#blog-post-content');
    console.log('start');
    $($blog).find('h2, h3, h4, h5').each(function(i, ele) {
    $(ele).attr('id', 'h-'+i);
    tagName = $(ele).prop('tagName');
    $('#blog-toc').append('<a href="#'+$(ele).attr('id')+'" class="title-'+tagName+'">'+$(ele).text()+'</a>');
    });
});

var comment_url = '/api/blogs/{{ blog.id }}/comments';

$(function () {
    var $form = $('#form-comment-editor');
    $form.submit(function (e) {
        e.preventDefault();

        $form.showFormError();
        var content = $form.find('#newComment').val().trim();
        if (content==='') {
            return $form.showFormError({'error': 'comment', 'data': 'comment', 'message': '请输入评论内容！'});
        }
        $form.postJSON(comment_url, { content: content }, function (err, result) {
            if (err) {
                return $form.showFormError(err);
            }
            refresh();
        });
    });
});
</script>

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-9 blog-main pr-5">
        <article class="blog-post">
            <h2 class="blog-post-title">{{ blog.name }}</h2>
            <p class="blog-post-meta">更新于{{ blog.created_at|datetime }}</p>
            <div id="blog-post-content">{{ blog.html_content|safe }}</div>
        </article><!-- /.blog-post -->

        <hr class="line" />

        {% if __user__ %}
        <h5 class="mb-0">Hi {{ __user__.name }}，说点什么吧</h5>
        <form class="form-comment-editor">
            <div class="alert-danger invisible">此处内容不应该出现</div>
            <textarea id="newComment" class="form-control mb-3" rows="2" placeholder="评论" required></textarea>
            <button class="btn btn-outline-primary mb-3" type="submit">发布</button>
        </form>
        {% endif %}
        <h5>最新评论</h5>
        <ul class="">
            {% for comment in comments %}
            <li class="media">
                <img class="mr-3" src=".../64x64" alt="image">
                <div class="media-body">
                    <h6 class="mt-0 mb-1">
                        {{ comment.user_name }} {% if comment.user_id==blog.user_id %}(作者){% endif %}
                        <small><i>{{ comment.created_at|datetime }}</i></small>
                    </h6>
                    <p>{{ comment.html_content|safe }}</p>
                </div>
            </li>
            {% else %}
            <p>还没有人评论...</p>
            {% endfor %}
        </ul>
    </div><!-- /.blog-main -->

    <aside class="col-md-3 blog-sidebar mt-3">
        <div class="dividing-line pl-2">
            <h5><i class="fas fa-tree"></i>&nbsp;<u>目 录</u></h5>
            <div id="blog-toc"></div>
        </div>
    </aside><!-- /.blog-sidebar -->
</div><!-- /.row -->

{% endblock %}
