{% extends '__base__.html' %}

{% block title %}让我们一起晃膀子{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-9 blog-main pr-5">
            {% for blog in blogs %}
                <article class="blog-post">
                    <h2 class="blog-post-title"><a href="/blog/{{ blog.id }}">{{ blog.name }}</a></h2>
                    <p class="blog-post-meta">更新于{{ blog.created_at|datetime }}</p>
                    <p class="blog-post-summary">{{ blog.summary }}</p>
                    <p><a href="/blog/{{ blog.id }}"><u>继续阅读</u></a></p>
                </article><!-- /.blog-post -->
                <hr class="line" />
            {% endfor %}
            {{ pagination('/?page=', page) }}
        </div><!-- /.blog-main -->
        <aside class="col-md-3 blog-sidebar mt-3">
            <div class="dividing-line pl-2">
                <div class="mb-3 ">
                    <h5><i class="fas fa-heartbeat"></i>&nbsp;<u>你 好</u></h5>
                    <p>这是一个技术博客。博主为web开发新手，目前更关注前端领域，常用Python和JavaScript。曾用C++和C做嵌入式开发。</p>
                </div>
                <hr class="line" />
                <div class="mb-3">
                    <h5><i class="fas fa-bug"></i>&nbsp;<u>更 多</u></h5>
                    <ol class="list-unstyled">
                        <li><a href="https://github.com/MaYX123" target="_blank">GitHub</a></li>
                        <li><a href="https://segmentfault.com/u/mayx123" target="_blank">SegmentFault</a></li>
                    </ol>
                </div>
            </div>
        </aside><!-- /.blog-sidebar -->
    </div><!-- /.row -->

{% endblock %}