{% extends '__base__.html' %}

{% block title %}评论管理{% endblock %}

{% block beforehead %}

<script>

function generateCommentList(comments) {
    var $table =$('#tbody-comment');
    for (let comment of comments) {
        $tr = $table.append('<tr><td>'+comment.user_name
        +'</td><td class="cc"><a target="_blank" href="/blog/'+comment.blog_id+'">'+comment.content+'</a>'
        +'</td><td>'+comment.created_at.toDateTime()
        +'</td><td><a href="#" class="cdelete"><i class="fas fa-trash-alt"></i></a></td>'
        +'<td class="cid" hidden>'+comment.id
        +'</td></tr>');
    }
    console.log('after gcl in gcl');
}

$(function() {
/* generate comment table */
    getJSON('/api/comments', {
        page: {{ page.page_index }}
    }, function (err, results) {
        if (err) {
            return fatal(err);
        }
        $('#loading').hide();
        generateCommentList(results.comments);
    });
});
$(function() {
/* delegate event click */
    $('#tbody-comment').on('click', '.cdelete', function(e) {
        e.preventDefault();
        var cid = $(this).parent().parent().children('.cid').text();
        var cc = $(this).parent().parent().children('.cc').text();
        var content = cc.length > 20 ? cc.substring(0, 20) + '...' : cc;
        if (confirm('确认要删除评论“' + content + '”？删除后不可恢复！')) {
            postJSON('/api/comments/' + cid + '/delete', function (err, r) {
                if (err) {
                    return error(err);
                }
                refresh();
            });
        }
    });
});

</script>

{% endblock %}

{% block content %}
<ul class="nav nav-tabs">
    <li class="nav-item">
    <span class="nav-link active">评论</span>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/manage/blogs">博文</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/manage/users">用户</a>
    </li>
</ul>

<div id="error">
    error...
</div>
<div id="loading">
    loading...
</div>

<div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">作者</th>
          <th scope="col">内容</th>
          <th scope="col">创建时间</th>
          <th scope="col">操作</th>
        </tr>
      </thead>
      <tbody id="tbody-comment">
        <!-- generateCommentList -->
      </tbody>
    </table>
</div>
{{ pagination('/manage/comments?page=', page) }}

{% endblock %}
