{% extends '__base__.html' %}

{% block title %}编辑文章{% endblock %}

{% block beforehead %}
<script>

var ID = '{{ id }}';
var action = '{{ action }}';

/*
function initVM(blog) {
    var vm = new Vue({
        el: '#vm',
        data: blog,
        methods: {
            submit: function (event) {
                event.preventDefault();
                var $form = $('#vm').find('form');
                $form.postJSON(action, this.$data, function (err, r) {
                    if (err) {
                        $form.showFormError(err);
                    }
                    else {
                        return location.assign('/manage/blogs');
                    }
                });
            }
        }
    });
    $('#vm').show();
}*/

$(function () {
    if (ID) {
        getJSON('/api/blogs/' + ID, function (err, blog) {
            if (err) {
                return fatal(err);
            }
            $('#loading').hide();
            $('#title').val(blog.name); /*后端代码中，title被起名为name*/
            $('#summary').val(blog.summary);
            $('#content').val(blog.content);
        });
    }
    else {
        $('#loading').hide();
    }
});

$(function() {
    var $form = $('.form-blog-editor');

    $form.submit(function (e) {
        e.preventDefault();

        var title = $form.find('#title').val();
        var summary = $form.find('#summary').val();
        var content = $form.find('#content').val();
        var data = {
            name: title,
            summary: summary,
            content: content
        };
        console.log(data);

        $form.postJSON(action, data, function(err, result) {
            if (! err) {
                return location.assign('/manage/blogs');
            }
        });
    });
});

</script>

{% endblock %}

{% block content %}
<ul class="nav nav-tabs">
    <li class="nav-item">
    <a class="nav-link" href="/manage/comments">评论</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/manage/blogs">博文</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/manage/users">用户</a>
    </li>
</ul>

<div id="error">error...</div>
<div id="loading">loading...</div>

<form class="form-blog-editor">
    <div class="alert-danger invisible">此处内容不应该出现</div>
    <label for="title">标题:</label>
    <input type="text" id="title" class="form-control mb-3" placeholder="标题" required autofocus>
    <label for="summary">摘要:</label>
    <textarea id="summary" class="form-control mb-3" rows="2" placeholder="摘要" required></textarea>
    <label for="content">内容:</label>
    <textarea id="content" class="form-control mb-3" rows="6" placeholder="内容支持markdown语法，换行要用<br>或者隔一行，代码块用<pre><code></code></pre>。若需要语法高亮<pre class='line-number'><code class='language-python'></code></pre>" required></textarea>
    <button class="btn btn-lg btn-primary mb-3" type="submit">保存</button>
    <a href="/manage/blogs" class="btn btn-lg btn-outline-danger mb-3">取消</a>
</form>
{% endblock %}
