{% extends '__base__.html' %}

{% block title %}博文管理{% endblock %}

{% block beforehead %}

<script>

function generateBlogList(blogs) {
    var $table =$('#tbody-blog');
    for (let blog of blogs) {
        $tr = $table.append('<tr><td class="bn">'+'<a target="_blank" href="/blog/'+blog.id+'">'+blog.name+'</a>'
        +'</td><td>'+blog.user_name
        +'</td><td>'+blog.created_at.toDateTime()
        +'</td><td><a href="/manage/blogs/edit?id='+blog.id+'"><i class="fas fa-edit"></i></a><a href="#" class="bdelete"><i class="fas fa-trash-alt"></i></a></td>'
        +'<td class="bid" hidden>'+blog.id
        +'</td></tr>');
    }
}

$(function() {
    getJSON('/api/blogs', {
        page: {{ page.page_index }}
    }, function (err, results) {
        if (err) {
            return fatal(err);
        }
        $('#loading').hide();
        generateBlogList(results.blogs);
    });
});

$(function() {
/* delegate event click */
    $('#tbody-blog').on('click', '.bdelete', function(e) {
        e.preventDefault();
        var bid = $(this).parent().parent().children('.bid').text();
        var bn = $(this).parent().parent().children('.bn').text();
        var title = bn.length > 20 ? bn.substring(0, 20) + '...' : bn;
        if (confirm('确认要删除博文“' + title + '”？删除后不可恢复！')) {
            postJSON('/api/blogs/' + bid + '/delete', function (err, r) {
                if (err) {
                    return error(err);
                }
                refresh();
            });
        }
    });
});

</script>

{% endblock %}

{% block content %}
<ul class="nav nav-tabs">
    <li class="nav-item">
    <a class="nav-link" href="/manage/comments">评论</a>
    </li>
    <li class="nav-item">
    <span class="nav-link active">博文</span>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/manage/users">用户</a>
    </li>
</ul>

<div id="error">
    error...
</div>
<div id="loading">
    loading...
</div>

<a href="/manage/blogs/create" class="btn btn-lg btn-primary mb-3">写文章</a>

<div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">标题</th>
          <th scope="col">作者</th>
          <th scope="col">创建时间</th>
          <th scope="col">操作</th>
        </tr>
      </thead>
      <tbody id="tbody-blog">
        <!-- generateBlogList -->
      </tbody>
    </table>
</div>
{{ pagination('/manage/blogs?page=', page) }}

{% endblock %}
