{% extends '__base__.html' %}

{% block title %}用户管理{% endblock %}

{% block beforehead %}

<script>

function generateUserList(users) {
    var $table =$('#tbody-user');
    for (let user of users) {
        if (user.admin) {
            $tr = $table.append('<tr><td>'+user.name+'<span><i class="fas fa-key"></i>管理员</span>'
            +'</td><td>'+'<a href="mailto:'+user.email+'" target="_top">'+user.email+'</a>'
            +'</td><td>'+user.created_at.toDateTime()
            +'<td class="uid" hidden>'+user.id
            +'</td></tr>');
        }
        else {
            $tr = $table.append('<tr><td>'+user.name
            +'</td><td>'+'<a href="mailto:'+user.email+'" target="_top">'+user.email+'</a>'
            +'</td><td>'+user.created_at.toDateTime()
            +'<td class="uid" hidden>'+user.id
            +'</td></tr>');
        }
    }
}

$(function() {
/* generate user table */
    getJSON('/api/users', {
        page: {{ page.page_index }}
    }, function (err, results) {
        if (err) {
            return fatal(err);
        }
        $('#loading').hide();
        generateUserList(results.users);
    });
});

</script>

{% endblock %}

{% block content %}
<ul class="nav nav-tabs">
    <li class="nav-item">
    <a class="nav-link" href="/manage/comments">评论</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/manage/blogs">博文</a>
    </li>
    <li class="nav-item">
    <span class="nav-link active">用户</span>
    </li>
</ul>

<div id="error">
    error...
</div>
<div id="loading">
    loading...
</div>

<div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">名字</th>
          <th scope="col">电子邮件</th>
          <th scope="col">注册时间</th>
        </tr>
      </thead>
      <tbody id="tbody-user">
        <!-- generateUserList -->
      </tbody>
    </table>
</div>
{{ pagination('/manage/users?page=', page) }}

{% endblock %}
