{% extends '__base__.html' %}

{% block title %}注册{% endblock %}

{% block beforehead %}
<script>
function validateEmail(email) {
    var re = /^[a-z0-9\.\-\_]+\@[a-z0-9\-\_]+(\.[a-z0-9\-\_]+){1,4}$/;
    return re.test(email.toLowerCase());
}

$(function () {
    var $form = $('.form-register');
    $form.submit(function (e) {
        e.preventDefault();

        var name = $form.find('#name').val().trim();
        var email = $form.find('#email').val().trim().toLowerCase();
        var passwd1 = $form.find('#password1').val();
        var passwd2 = $form.find('#password2').val();
        if(! name) {
            return $form.showFormError({'error': 'name', 'data': 'name', 'message': '名字不能为空'});
        }
        if(! validateEmail(email)) {
            return $form.showFormError({'error': 'email', 'data': 'email', 'message': '请输入正确的Email地址'});
        }
        if (passwd1.length < 6) {
            return $form.showFormError({'error': 'password1', 'data': 'password1', 'message': '密码长度至少为6个字符'});
        }
        if (passwd1 !== passwd2) {
            return $form.showFormError({'error': 'password2', 'data': 'password2', 'message': '两次输入的密码不一致'});
        }
        var data = {
            name: name,
            email: email,
            passwd: CryptoJS.SHA1(email + ':' + passwd1).toString()
        };

        $form.postJSON('/api/users', data, function(err, result) {
            if (! err) {
                location.assign('/');
            }
        });
    });
});
</script>
{% endblock %}

{% block content %}
<div class="mx-4 my-2 px-1 py-1">
    <form class="form-register mx-auto py-5">
        <div class="alert-danger invisible">此处内容不应该出现</div>
        <label for="name">名字：</label>
        <input type="text" id="name" class="form-control mb-3" placeholder="名字" required autofocus>
        <label for="email">电子邮件：</label>
        <input type="email" id="email" class="form-control mb-3" placeholder="例如：example@email.com" required>
        <label for="password1">密码：</label>
        <input type="password" id="password1" class="form-control mb-3" placeholder="密码长度至少为6个字符" required>
        <label for="password2">再次输入该密码：</label>
        <input type="password" id="password2" class="form-control mb-3" placeholder="再次输入该密码" required>
        <button class="btn btn-lg btn-outline-primary btn-block mb-3" type="submit">注册</button>
        <p class="text-center"><a href="/">返回首页</a></p>
    </form>
</div>
{% endblock %}
