{% extends '__base__.html' %}

{% block title %}登录{% endblock %}

{% block beforehead %}
<script>
$(function () {
    var $form = $('.form-signin');
    $form.submit(function (e) {
        e.preventDefault();

        var email = $form.find('#email').val();
        var passwd = $form.find('#password').val();
        var data = {
            email: email.trim().toLowerCase(),
            passwd: passwd==='' ? '' : CryptoJS.SHA1(email + ':' + passwd).toString()
        };

        $form.postJSON('/api/authenticate', data, function(err, result) {
            if (! err) {
                location.assign('/');
            }
        });
    });
});
</script>
{% endblock %}

{% block content %}
<div class="mx-4 my-2 px-1 py-1">
    <form class="form-signin mx-auto py-5">
        <div class="alert-danger invisible">此处内容不应该出现</div>
        <label for="email">电子邮件:</label>
        <input type="email" id="email" class="form-control mb-3" placeholder="电子邮件" required autofocus>
        <label for="password">密码:</label>
        <input type="password" id="password" class="form-control mb-3" placeholder="密码" required>
        <button class="btn btn-lg btn-outline-primary btn-block mb-3" type="submit">登录</button>
        <p class="text-center"><a href="/">返回首页</a></p>
    </form>
</div>
{% endblock %}
